footer {
    margin-top: 25px;
    background-color: $bgcPrimary1;
    padding: 1em;
    width: 100%;
    position: absolute;
    bottom: -4rem;

    &>* {
        color: $white
    }

    & .toys-count {
        font-size: 2rem;
        font-weight: 800;
        color: $clrPrimary1;
        text-shadow: $clrPrimary2 1px 2px 3px;
    }
}

// footer>* {
//     color: white;
// }

// .toys-count {
//     font-size: 2rem;
//     font-weight: 800;
//     color: $clrPrimary1;
//     text-shadow: $clrPrimary2 1px 2px 3px;
// }