.app-header {
  background-color: var(--clr1bg);
  padding: 1em;
  width: 100%;
  gap: 4em;
}

.app-name {
  color: var(--clr1);
  text-shadow: var(--clr2) 1px 2px 3px;
}

.header-nav>a {
  width: 54px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: var(--clr2) 1px 2px 3px;
}