.index-page {
    max-width: 1200px;

    &>.index-container {
        margin-bottom: 25px;
    }

    &>.pagination-container {
        gap: 0.25rem;

        &>.pages {
            border: 1px solid $bgcPrimary1;
            padding: 0.5em;
            border-radius: 4px;
        }
    }
}