aside {
    width: 240px;
    margin-inline-end: 25px;
}

.toy-filter {
    background-color: white;
    border-radius: 4px;
    padding: 1px 15px;
}

.toy-filter>h2 {
    padding: 15px 0;
}

.filter-container {
    padding: 20px 0;
    border-top: 0.8px solid rgb(194, 194, 194)
}

.filter-container>* {
    padding: 5px 0;
}