:root {
  --clr1: #ffcd00;
  --clr1-light: #f0c000;

  --clr2: #ff0000;
  --clr3: #333333;

  --clr1bg: #0077e0;
  --clr1bg-dark: #0060b4;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}