:root {
  --clr1: #ffcd00;
  --clr2: #ff0000;
  --clr3: #333333;

  --clr1bg: #3d85c6;
  --clr1bg-light: #c1f1e1;
  --clr2bg-light: #e9d8a6;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}