@media (max-width: 1000px) {
    .home-page-container {
        flex-direction: column-reverse;
        gap: 0 !important;

        &>.lottie-container {
            margin-top: -25px;
            // max-width: 300px !important;
        }

        // &>.hero-text {
        //     &>h1 {
        //         font-size: 2rem !important;
        //     }

        //     &>p {
        //         font-size: 1.25rem !important;
        //         margin-bottom: 0.75rem !important;
        //     }

        //     &>button {
        //         font-size: 0.875rem !important;
        //         background-color: $bgcPrimary1;

        //         &:hover {
        //             background-color: $bgcPrimary1-dark;
        //         }
        //     }
        // }
    }
}


@media (max-width: 740px) {
    .index-container {
        flex-direction: column;
    }

    aside {
        margin: 0 0 25px 0 !important;
    }


}

@media (max-width: 540px) {
    .main-header-container {
        flex-direction: column;
        gap: 10px !important;

        &>.header-nav {
            justify-content: center;

            &>a {
                padding-bottom: 5px;
            }
        }
    }

    .phone-container {
        border-inline-start: 1px solid white;
    }

    .footer-container {
        flex-direction: column;
        align-items: center !important;
        gap: 10px;
    }

    // .home-page-container {
    //     gap: 25px !important;

    //     &>.hero-text {
    //         margin-top: 0;
    //     }

    //     &>.lottie-container {
    //         margin-top: 0 !important;
    //     }
    // }
}