@media (max-width: 740px) {
    .index-container {
        flex-direction: column;
    }

    aside {
        margin: 0 0 25px 0 !important;
    }
}

@media (max-width: 540px) {
    .main-header-container {
        flex-direction: column;
        gap: 10px !important;

        &>.header-nav {
            justify-content: center;

            &>a {
                padding-bottom: 5px;
            }
        }
    }

    .phone-container {
        border-inline-start: 1px solid white;
    }

    // .header-nav {
    //     justify-content: center;
    // }

    // .header-nav>a {
    //     padding-bottom: 5px;
    // }

    footer {
        flex-direction: column;
        gap: 10px;
        bottom: -6rem !important;
    }
}